#showC{
    position: absolute;
    top: 35%;
    right: 20%;
    font-size: 30px;
    color: darkblue;
    font-family: sans-serif;
}


#res{
    position: absolute;
    top: 50%;
    right: 20%;
    font-size: 35px;
}


#det{
    position: absolute;
    top: 40%;
    right: 22%;
    font-size: 40px;
    color: forestgreen
}

#name{
    position: absolute;
    top: 50%;
    right: 30%;
    font-size: 35px;
}
#city{
    position: absolute;
    top: 57%;
    right: 32%;
    font-size: 35px;
}
#ag{
    position: absolute;
    top: 64%;
    right: 32%;
    font-size: 35px;
}
#type{
    position: absolute;
    top: 71%;
    right: 31%;
    font-size: 35px;
}
#sea{
    position: absolute;
    top: 78%;
    right: 23%;
    font-size: 35px;
}

#name1{
    position: absolute;
    top: 50%;
    right: 15%;
    font-size: 35px;
}
#city1{
    position: absolute;
    top: 57%;
    right: 12%;
    font-size: 35px;
}
#ag1{
    position: absolute;
    top: 64%;
    right: 19%;
    font-size: 35px;
}
#type1{
    position: absolute;
    top: 71%;
    right: 15%;
    font-size: 35px;
}
#sea1{
    position: absolute;
    top: 78%;
    right: 1%;
    font-size: 35px;
}
#timer{
    position: absolute;
    font-size: 35px;
    top: 20;
    text-align: center;
}